<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Lista De Inscritos</h3>
    </div>
    <div class="card-body">
      <p>Nombre: {{beneficiary.Name}} {{beneficiary.LastName}}</p>
			<p>CI: {{beneficiary.CI}}</p>
			<!-- <p>Codigo Inscripcion: {{inscrito.codigoInscripcion}}</p> -->
			<p>Edad: {{beneficiary.Age}}</p>
      <p>Nivel actual: {{beneficiary.CurrentLevel}}</p>
      <p>Años en el grupo: {{beneficiary.CurrentAntiquity}}</p>
    </div>
  </div>
</div>